# Alle Textdateien automatisch erkennen
* text=auto

# Web / JavaScript
*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf

# PHP / Python
*.php text eol=lf
*.py text eol=lf

# Markdown
*.md text eol=lf

#Documents
*.txt text eol=lf
*.doc text eol=lf
*.docx text eol=lf
*.xls text eol=lf
*.xlsx text eol=lf

#Images
*.svg text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
